[Traces]
files=1
trace_type=f
transpose=true
index=0
nsamples=512
trace=aes128_sb_ciph_deadbeefcafebabe1122334455667788.trace 100000 512

[Guesses]
files=1
guess_type=u
transpose=true
guess=aes128_sb_ciph_deadbeefcafebabe1122334455667788.input 100000 16

[General]
threads=2
order=1
return_type=double
algorithm=AES
position=/usr/local/share/daredevil/LUT/AES_AFTER_SBOX
round=0
bitnum=all
bytenum=all
correct_key=0xdeadbeefcafebabe1122334455667788
memory=6G
top=10
